@import "tailwindcss";
@plugin "daisyui";

@layer base {
    body {
  @apply bg-gradient-to-br from-[#1f1d85] via-[#420d73] to-[#37055e] text-white ;
}


    .h2 {
        @apply text-xl md:text-3xl lg:text-4xl xl:text-5xl font-semibold
    }

    .h3 {
        @apply text-xl md:text-2xl lg:text-3xl xl:text-4xl font-semibold
    }

    .h4 {
        @apply text-xl md:text-2xl xl:text-3xl font-semibold
    }
}
/* ~~~~~~~`````````````````` */
@keyframes border-gradient {
    0% {
        border-image-source: linear-gradient(90deg, #a855f7, #109dbd, #db9035);
    }

    50% {
        border-image-source: linear-gradient(90deg, #4f46e5, #4e0692, #2377d8);
    }

    100% {
        border-image-source: linear-gradient(90deg, #e648e3, #4f46e5, #ea4de8);
    }
}

.animate-border-gradient {
    border-width: 4px;
    border-style: solid;
    border-image-slice: 1;
    animation: border-gradient 3s infinite;
     border-image-source: linear-gradient(90deg, #a855f7, #109dbd, #db9035);
    border-radius: 9999px 0 9999px 9999px !important;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.relative-rounded-border {
  position: relative;
  z-index: 1;
  border-radius: 9999px;
  color: white;
  font-weight: 600;
  overflow: hidden;
  transition: 0.3s;
}

.relative-rounded-border::before {
  content: '';
  position: absolute;
  z-index: -1;
  inset: 0;
  padding: 4px;
  background: linear-gradient(90deg, #a855f7, #109dbd, #db9035);
  border-radius: inherit;
  animation: border-gradient-bg 5s linear infinite;
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

@keyframes border-gradient-bg {
  0% {
    background: linear-gradient(90deg, #a855f7, #109dbd, #db9035);
  }
  50% {
    background: linear-gradient(90deg, #4f46e5, #4e0692, #2377d8);
  }
  100% {
    background: linear-gradient(90deg, #e648e3, #4f46e5, #ea4de8);
  }
}

.bubble-Container {
    border-radius: 9999px 0 9999px 9999px;
    max-width: 300px;
}

.bubble {
    color: #555;
    height: 60px;
    max-width: 280px;
    border-radius: 9999px 0px 9999px 9999px;
    display: flex;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
}
/* Skill Set animaed */



@layer utilities {
  .perspective-1000 {
    perspective: 1000px;
  }

  .transform-style-3d {
    transform-style: preserve-3d;
  }

  .backface-hidden {
    backface-visibility: hidden;
  }
}

